@charset "utf-8"
body{
    box-sizing: border-box;
    display:block;
}
h1{
    font-size:20px;
    font-size:2rem;
    font-family: cursive;
}
h1:before{
    content:"ー ";
}
h1:after{
    content:" ー";
}
dt {
    display:inline-block;
    width:200px;
    margin-top:10px;
    border-radius: 5px;
    padding:3px 5px;
    border:3px offset gray;
    background-color: dimgrey;
    color:white;
    font-weight:bold;
    text-align: center;
}
dl:not(:last-child){
    border-bottom:1px solid grey;
    padding-bottom:10px;
}
dd{
    list-style: none;
    display:inline-block;
    font-weight: bold;
    color: midnightblue;
    padding:3px 5px;
    margin-right:-30px;
    border:1px solid  midnightblue;
    cursor:pointer;
}
dd .selected {
    background-color: grey;
}
dd:before{
    content:"▼";
}
dd:hover{
    opacity: 0.7;
}
.face{
    position:relative;
    height:300px;
    width:300px;
    border:2px solid #666;
    background: url(images/base.gif) no-repeat;
}
.face img {
    position:absolute;
    top:0;
    left:0;
}
.face .show img{
        display:block;
}
.face .off img{
    display:none;
}
